<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Add Fruit</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<nav class="navbar navbar-expand-sm navbar-light">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="login.html">Fruit Market</a>
			</div>
		</div>
	</nav>
	<div class="container">
	<h1>Add Fruit</h1>
		<form th:object="${fruit}" th:action="@{/seller/fruits/add/{seller_id}(seller_id=${seller_id})}" method="post" enctype="multipart/form-data">
			<!-- <input type="hidden" name="id"/> -->
			<input type="text" name="name" placeholder="Fruit name"class="form-control mb-4 col-4"/> 
			<br> 
<!-- 			<label> Fruit photo</label>
			<input type="file" name="photo" class="custom-file-input"/> 
			<br>  -->
			<input type="number" name="quantity" placeholder="Fruit Quantity" class="form-control mb-4 col-4"/>
			<br>		
			<input type="text" name="description" placeholder="Describe this fruit" class="form-control mb-4 col-4"/>
			<br>	
			<input type="number" name="price" placeholder="Fruit Price" class="form-control mb-4 col-4"/>
			<br>	
			<button type="submit" class="btn btn-primary col-2">Add Fruit</button>
		</form>
		<hr>
		<a th:href="@{/seller/sellerPage/}">Back to Fruits List</a>
	</div>
</body>
</html>